*{
    margin: 0;
    padding: 0;
}

a:link{
    text-decoration: none;
}

/*tabela listar*/
.lAgricultoresListar{
    color: #404dd5;
}
.lAgricultoresListar:hover{
    color: #999999;
}

/*tabela editar*/
.lAgricultoresEditar{
    color: #e67710;
}
.lAgricultoresEditar:hover{
    color: #999999;
}

/*tabela novo*/
.lAgricultoresNovo{
    color:  #237701;
}
.lAgricultoresNovo:hover{
    color: #999999;
}

/*tabela excluir*/
.lAgricultoresExcluir{
    color:  #f0241a;
}
.lAgricultoresExcluir:hover{
    color: #999999;
}