/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/04/2016, 13:33:22
    Author     : daniel
*/

@charset "UTF-8";



/* reset de margens */
* {
    margin: 0;
    padding:0;

}

/* para garantir que estes elementos ocuparão toda a tela */
body, html {
    width: 100%;
    height: 100%;
    background-image:url("../_imagens/icone.png"); 
    background-color: #b8d2b8;
    background-repeat: repeat;
}



#interface {
    width: 100px;
    height: 100px;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,.8));
}

 

#cabecalho{
    background: linear-gradient(to bottom, transparent, rgba(184,210,184,.8));
    width: 80%;
    margin: auto;
    height: 50%;
}


.logo{
    position: relative;
    left: 0px;
}



#corpo{
    background: linear-gradient(to top , transparent, rgba(184,210,184,.8));
    
    width: 80%;
    height: 50%;
    margin: auto;
}


.tField {
    border: 0px;
    border-radius: 5px;
    padding: 7px;
    font-size: 16px;
    margin-top: 10px;
}

#formulario{
    width: 90%;
    
}
/*
fieldset#campos{
    width: 400px;
    margin: auto;
    background: rgba(0,0,0,.5);
    border-radius: 10px;
    border-color: transparent;
    color: #fff;
}*/
/*

input#botao {
    padding: 10px 80px 10px 80px;
    margin: 20px;
    margin-top: 40px;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 25px;
    border: 0;
    background: #ffcc00;
    cursor: pointer;
    
}

input#botao:hover{
    background: #df840e;
    color: #fff;
}





legend{
    padding-top: 20px;
}

input.tField {
    border: 0px;
    border-radius: 5px;
    padding: 7px;
    font-size: 16px;
    margin-top: 10px; 
}
input.tField:hover{
    background: #cccccc;
    
}
*/
h3{
    
    font-family: Arial;
    font-size: 16px;
    font-style: italic;
    text-align: right;
    color: #fff;
}
