*{
    margin: 0;
    padding: 0;
}

a:link{
    text-decoration: none;
}

/*tabela todos*/
.lRelatoriosTodas{
    color: #404dd5;
}
.lRelatoriosTodas:hover{
    color: #999999;
}

/*tabela editar*/
.lRelatoriosMudas{
    color: #e67710;
}
.lRelatoriosMudas:hover{
    color: #999999;
}

/*tabela novo*/
.lRelatoriosRamas{
    color:  #237701;
}
.lRelatoriosRamas:hover{
    color: #999999;
}

/*tabela excluir*/
.lRelatoriosSementes{
    color:  #f0241a;
}
.lRelatoriosSementes:hover{
    color: #999999;
}