*{
    margin: 0;
    padding: 0;
}

body {

  background: url(../_imagens/Captura-de-Tela-2015-08-13-às-19.03.54.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }


#corpo{
    background: linear-gradient(to bottom, transparent, rgba(184,210,184,.9));
    margin: 0;
    padding: 20px;
    border-radius: 10px;
}

#logo{
    padding-top: 100px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
  color: #fff;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


#suporte{
    background: rgba(218,165,32,.9);
    border-radius: 10px;
}

#suporte:hover{
    background: rgba(255,215,0,.9);
}