*{
    margin: 0;
    padding: 0;
}

body {

  background: url(../_imagens/Captura-de-Tela-2015-08-13-às-19.03.54.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }


#corpo{
    background: rgba(255,255,255,.7);
    margin: 0;
    padding: 20px;
    border-radius: 10px;
}

#logo{
    padding-top: 50px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
  color: #000;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

fieldset.scheduler-border {
    border: 1px groove #000 !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
    border-radius: 5px;
}

legend.scheduler-border {
    border:none;
    width: 60px;

}
input:hover{
    background: #dddddd;
}

