body {
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(to bottom, transparent, rgba(0,0,0,.8));
}

html{
   background-image:url("../_imagens/icone.png"); 
  background-color: #b8d2b8;
  background-repeat: repeat;   
}
#logo{
    background: linear-gradient(to bottom, transparent, rgba(184,210,184,.9));
    margin: 0;
     padding: 20px;
}
#corpo{
    background: linear-gradient(to top, transparent, rgba(184,210,184,.9));
    margin: 0;
    padding: 20px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
  color: #fff;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
