*{
    margin: 0;
    padding: 0;
}

a:link{
    text-decoration: none;
}

.circulo{
    width: 150px;
    height: 150px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align:center;
    padding-top: 40px;
    position: relative;
    left: 50%;
    margin-left: -75px;
    margin-bottom: 20px;
    margin-top: 20px;
    
    border-width: 2px;
    border-style: solid;
    border-color: #8f8f99;
}

.circulo .fa{
    color: #fff;
    text-shadow: 0.5px 1px #000;
}


#editar{
    background: radial-gradient(#fff, rgba(74, 74, 192, 0.9));
}

#novo{
    background: radial-gradient(#fff, rgba(23, 119, 105, 0.9));
}

#excluir{
    background: radial-gradient(#fff, rgba(221, 81, 116, 0.9));
}

#listar{
    background: radial-gradient(#fff, rgba(227, 208, 0, 0.9));
}

#listar .fa{
    color: #fbfcca;
}

#editar .fa{
    color: #9ee4ff;
}

#excluir .fa{
    color: #ff4040;
}

#novo .fa{
    color: #C2FFC1;
}

h2{
    text-align: center;
    text-shadow: 2px 2px #C3CFC4;
    
}

.circulo .fa-2x{
    color: #000;
    font-size: 30px;
}

.circulo .fa-envira{
    font-size: 50px;
    color: #000;
}



