.menu{
    text-align: center;
    background: #222;
    position: absolute;
    width:220px;
    left: 50%;
    margin-left: -110px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #8f8f99; 
    
}

#home{
    font-size: 30px;
}

#logoNome{
    font-size: 16px;
    color: #fff;
    margin-top: 11px;
    position: absolute;
    left: 0%;
    margin-left: 5px;
}
#logoSessao{
    font-size: 16px;
    color: #fff;
    margin-top: 11px;
    position: absolute;
    left: 100%;
    margin-left: -88px;
    width: 86px;
}

