*{
    margin: 0;
    padding: 0;
}

a:link{
    text-decoration: none;
}

body{
    background: #d4e1d4;
}

.circulo{
    width: 250px;
    height: 250px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align:center;
    padding-top: 80px;
    position: relative;
    left: 50%;
    margin-left: -125px;
    margin-bottom: 20px;
    margin-top: 20px;
    
    border-width: 2px;
    border-style: solid;
    border-color: #8f8f99;
}


#relatorios{
    background: radial-gradient(#b8d2b8, rgba(0, 0, 90, 0.9));
}

#produtos{
    background: radial-gradient(#b8d2b8, rgba(15, 114, 12, 0.9));
}

#agricultores{
    background: radial-gradient(#b8d2b8, rgba(149, 2, 39, 0.9));
}

h2{
    text-align: center;
    text-shadow: 2px 2px #C3CFC4;
    
}

.circulo .fa{
    color: #000;
    text-shadow: 2px 3px #000;
}

#agricultores .fa{
    color: #ff4040;
}

#produtos .fa{
    color: #06ff00;
}

#relatorios .fa{
    color: #6975f8;
}

/* Smartphones -----------
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #inicio{
        margin-top:150px;
        background: red;
    }
}
/* iPads (portrait and landscape) ----------- 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #inicio{
        margin-top:200px;
        background: yellow;
    }
}
/* Desktops and laptops -----------
@media only screen and (min-width : 1224px) {
    #inicio{
        margin-top:100px;
        background: green;
    }
}

/* Large screens ----------- 
@media only screen and (min-width : 1824px) {
    #inicio{
        margin-top:400px;
        background: blue;
    }
} */